:root {
    --body-body-very-small-semi-bold-10-font-family: "Roboto", Helvetica;
    --body-body-very-small-semi-bold-10-font-size: 10px;
    --body-body-very-small-semi-bold-10-font-style: normal;
    --body-body-very-small-semi-bold-10-font-weight: 600;
    --body-body-very-small-semi-bold-10-letter-spacing: 0.4000000059604645px;
    --body-body-very-small-semi-bold-10-line-height: normal;
    --gray-400: rgba(156, 163, 175, 1);
    --gray-500: rgba(107, 114, 128, 1);
    --gray-900: rgba(17, 25, 40, 1);
    --green-400: rgba(74, 222, 128, 1);
    --green-900: rgba(1, 71, 55, 1);
    --neutral-200: rgba(229, 229, 229, 1);
    --neutral-300: rgba(212, 212, 212, 1);
    --neutral-400: rgba(163, 163, 163, 1);
    --neutral-50: rgba(250, 250, 250, 1);
    --neutral-600: rgba(82, 82, 82, 1);
    --neutral-700: rgba(64, 64, 64, 1);
    --neutral-800: rgba(38, 38, 38, 1);
    --neutral-900: rgba(23, 23, 23, 1);
    --neutralneutral-100: rgba(245, 245, 245, 1);
    --neutralneutral-200: rgba(229, 229, 229, 1);
    --neutralneutral-300: rgba(212, 212, 212, 1);
    --neutralneutral-50: rgba(250, 250, 250, 1);
    --neutralneutral-800: rgba(38, 38, 38, 1);
    --neutralneutral-900: rgba(23, 23, 23, 1);
    --red-400: rgba(248, 113, 113, 1);
    --shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px
      rgba(0, 0, 0, 0.1);
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    --text-sm-font-medium-font-family: "Inter", Helvetica;
    --text-sm-font-medium-font-size: 14px;
    --text-sm-font-medium-font-style: normal;
    --text-sm-font-medium-font-weight: 500;
    --text-sm-font-medium-letter-spacing: 0px;
    --text-sm-font-medium-line-height: 150%;
    --text-sm-font-normal-font-family: "Inter", Helvetica;
    --text-sm-font-normal-font-size: 14px;
    --text-sm-font-normal-font-style: normal;
    --text-sm-font-normal-font-weight: 400;
    --text-sm-font-normal-letter-spacing: 0px;
    --text-sm-font-normal-line-height: 150%;
    --text-xs-font-medium-font-family: "Inter", Helvetica;
    --text-xs-font-medium-font-size: 12px;
    --text-xs-font-medium-font-style: normal;
    --text-xs-font-medium-font-weight: 500;
    --text-xs-font-medium-letter-spacing: 0px;
    --text-xs-font-medium-line-height: 150%;
    --title-title-large-medium-22-font-family: "Roboto", Helvetica;
    --title-title-large-medium-22-font-size: 22px;
    --title-title-large-medium-22-font-style: normal;
    --title-title-large-medium-22-font-weight: 500;
    --title-title-large-medium-22-letter-spacing: 0px;
    --title-title-large-medium-22-line-height: 28px;
    --uppercase-text-xs-font-semibold-font-family: "Inter", Helvetica;
    --uppercase-text-xs-font-semibold-font-size: 12px;
    --uppercase-text-xs-font-semibold-font-style: normal;
    --uppercase-text-xs-font-semibold-font-weight: 400;
    --uppercase-text-xs-font-semibold-letter-spacing: 0px;
    --uppercase-text-xs-font-semibold-line-height: 150%;
    --white: rgba(255, 255, 255, 1);
  }
.frame {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 944px;
  }
  
  .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
  }
  
  .table-columns {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 56px;
  }
  
  .tables-cell {
    align-items: center;
    align-self: stretch;
    background-color: var(--neutral-800);
    border-radius: 8px 0px 0px 0px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .small-checkboxes {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .rectangle {
    border: 1px solid;
    border-color: #d4d4d4;
    border-radius: 4px;
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .border-bottom {
    align-self: stretch;
    background-color: var(--neutral-800);
    height: 1px;
    position: relative;
    width: 100%;
  }
  
  .small-checkboxes-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .rectangle-wrapper {
    align-items: flex-start;
    background-color: var(--neutral-800);
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .rectangle-2 {
    border: 1px solid;
    border-color: #262626;
    border-radius: 4px;
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .div-wrapper {
    align-items: center;
    align-self: stretch;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .tables-cell-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .tables-cell-3 {
    align-items: center;
    align-self: stretch;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .column-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  
  .text-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: var(--neutral-800);
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .text {
    color: var(--neutral-50);
    font-family: var(--uppercase-text-xs-font-semibold-font-family);
    font-size: var(--uppercase-text-xs-font-semibold-font-size);
    font-style: var(--uppercase-text-xs-font-semibold-font-style);
    font-weight: var(--uppercase-text-xs-font-semibold-font-weight);
    letter-spacing: var(--uppercase-text-xs-font-semibold-letter-spacing);
    line-height: var(--uppercase-text-xs-font-semibold-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .search {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-bottom: -9.50px;
    margin-top: -9.50px;
    position: relative;
  }
  
  .input-field {
    align-items: flex-start;
    background-color: var(--neutral-900);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 120px;
  }
  
  .input {
    align-items: center;
    align-self: stretch;
    background-color: var(--neutral-900);
    border: 1px solid;
    border-color: #525252;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px 16px;
    position: relative;
    width: 100%;
  }
  
  .content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .user {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .input-text {
    background: transparent;
    border: none;
    color: var(--neutral-50);
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    padding: 0;
    position: relative;
  }
  
  .text-2 {
    color: var(--neutral-50);
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: -0.50px;
    margin-top: -2.50px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .tables-cell-4 {
    align-self: stretch;
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .column-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 220px;
  }
  
  .column-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    position: relative;
    width: 180px;
  }
  
  .tables-cell-5 {
    align-items: center;
    align-self: stretch;
    background-color: var(--neutral-800);
    border-radius: 0px 8px 0px 0px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-top: -0.50px;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .search-wrapper {
    align-items: flex-start;
    display: flex;
    margin-bottom: -9.50px;
    margin-top: -9.50px;
    position: relative;
    width: 74px;
  }
  
  .input-field-wrapper {
    align-items: center;
    background-color: var(--neutral-900);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    height: 37px;
    justify-content: center;
    position: relative;
  }
  
  .input-field-2 {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 37px;
    justify-content: space-between;
    position: relative;
    width: 74px;
  }
  
  .content-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--neutral-900);
    border: 1px solid;
    border-color: #525252;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 2px;
    justify-content: center;
    padding: 8px 2px;
    position: relative;
    width: 100%;
  }
  
  .content-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 1px;
    padding: 0px 1px;
    position: relative;
  }
  
  .input-text-2 {
    background: transparent;
    border: none;
    color: var(--neutral-600);
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: -1.00px;
    padding: 0;
    position: relative;
  }
  
  .edit-outline-wrapper {
    align-items: center;
    align-self: stretch;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .edit-outline {
    height: 24px;
    margin-bottom: -3.00px;
    margin-top: -3.00px;
    position: relative;
    width: 24px;
  }
  
  .border-bottom-2 {
    align-self: stretch;
    background-color: var(--neutral-800);
    height: 1px;
    margin-bottom: -0.50px;
    position: relative;
    width: 100%;
  }
  
  .p {
    color: var(--neutral-400);
    font-family: var(--text-sm-font-normal-font-family);
    font-size: var(--text-sm-font-normal-font-size);
    font-style: var(--text-sm-font-normal-font-style);
    font-weight: var(--text-sm-font-normal-font-weight);
    letter-spacing: var(--text-sm-font-normal-letter-spacing);
    line-height: var(--text-sm-font-normal-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }